*{
    margin: 0;
    padding: 0;  
}

body{
    font-size: 100%;
    font-family: Arial;
    background: aqua; 
}



.stone{
    float: left;
    background-color: grey;
    width: 100px;
    height: 100px;
    margin: 5px;
}


#red{
    
    background-color: red;
    
    
}



#yellow{
    
    background-color: yellow;
}


#plusle{
    
     background-color: red;
    width: 100px;
    height: 100px;
    margin: 5px;
    
}


#minum{
    
     background-color: blue;
    width: 100px;
    height: 100px;
    margin: 5px;
    
}

#pass{
    
    display: none;
}




#scoreboard{
    
    
    height: 200px;
    width: 200px;
    background-color: green;
    
}
